* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.woff2) format("woff2");
}

p {
    font-size: 18px;
}

h3 {
    margin-bottom: 8px;
}

body {
    background-color: rgb(79, 72, 122);
    font-family: "Roboto";
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    max-height: 100vh;
}

.header {
    background-color: whitesmoke;
    padding: 15px;
    display: grid;
    grid-column: 2/4;
}

.top-user {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 16px;
}
    
.top-user .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-user .right {
    display: flex;
    align-items: center;
    /* padding-left: 14px; */
    gap: 10px;
}

.bottom-user {
    display: flex;
    grid-template-columns: 2fr 1fr;
    padding: 6px 18px;
}

.bottom-user .bottom-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bottom-user .bottom-right{
    display: flex;
    align-items: center;
}

input {
    background-color: rgb(79, 72, 122);
    color: whitesmoke;
    padding: 4px;
    border-radius: 24px;
    width: 550px;
}

::placeholder {
    color: whitesmoke;
}

.buttons {
    margin-left: 60px;
    margin-top: 30px;
    flex-shrink: 0;
}

button {
    background-color: black;
    color: whitesmoke;
    border-radius: 8px;
    width: 80px;
    height: fit-content;
    padding: 6px;
    text-align: center;
    margin-left: 10px;
}

.pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 5px;
}

.pfp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.pfp-2 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    flex-shrink: 0;
}

.pfp-2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.icon {
    width: 28px;
}

#privacy {
    width: 20px;
}

.sidebar {
    background-color: black;
    color: whitesmoke;
    /* display: grid; */
    grid-row: 1/-1;
    padding: 20px;
}

.top-nav, .bottom-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

li {
    list-style: none;
    display: flex;
    height: 40px;
    gap: 12px;
    align-items:center;
}

.brand {
    padding: 10px;
}

.main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 24px 20px 24px 20px;
    /* margin-top: 14px; */
}

.projects {
    padding: 8px 10px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
    gap: 16px;
}

.card {
    background-color: whitesmoke;
    border-left: 5px solid rgb(229, 123, 169);
    box-shadow: 5px 5px 25px  rgb(45, 41, 70);
    padding: 18px;
    height: 200px;
    width: 320px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-icons {
    display: flex;
    align-self: flex-end;
    gap: 16px;
    padding: 8px;
}

.news {
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin-top: -2px;
}

.announce {
    background-color:whitesmoke;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 5px 5px 25px  rgb(45, 41, 70);
}

.announce-card {
    border-bottom: 1.5px solid lightgray;
    padding: 10px;
}

.trends {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 25px  rgb(45, 41, 70);
    background-color: whitesmoke;
}
.trending-card {
    display: flex;
    padding: 10px 0px 10px 12px;
    gap: 10px;
    /* margin-left: 10px; */
}

.trend-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

.trend-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

strong {
    color: whitesmoke;
}

.card strong,
.announce-card strong {
    color: black;
}

.announce-card p {
    font-size: 16px;
}

/* RESPONSIVE FOR DEVICES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){}